@()

@main("Doors") {
	
	<div class="container-fluid" ng-controller="MqttTableCtrl">
		<div class="row">
			<div class="col-md-2 panel panel-default" ng-class="switches[topic.value.value.contact]" ng-repeat="topic in topics">
				<div ng-click="talk(topic)" class="panel-heading">{{topic.name}}</div>
				<div class="panel-body">{{topic.state}}
					<!--<span class="glyphicon glyphicon-remove-circle" ng-click="deleteTopic()"></span>-->
				</div>
			</div>
		</div>
	</div>
	<script>
		var pageTopic = "contact/+/status";
	</script>
}
