@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">    
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/carousel.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    <div class="navbar-wrapper">
	<div class="container">

		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"
						href="./">My House</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="@("active".when(title == "TopicsList"))"><a
							href="./topics">Topics List</a></li>
						<li class="@("active".when(title == "Switches"))"><a
							href="./switches">Switches</a></li>
						<li class="@("active".when(title == "Motions"))"><a
							href="./motions">Motion</a></li>
						<li class="@("active".when(title == "Doors"))"><a
							href="./doors">Doors & Windows</a></li>
						<li class="@("active".when(title == "Automation"))"><a
							href="./automation">Automation</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
    
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    	<script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
    	<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
    	<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
    	<script src="@routes.Assets.at("javascripts/mqtttopics.js")"></script>
    	<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
		
		@content
   
    </body>
</html>
